
ul.menu {
  list-style:none;
  margin:0;
  padding:0;
  /* position: absolute; */
}
ul.menu * {
  margin:0;
  padding:0
}
ul.menu a {
  display:block;
  color:#FFF;
  text-decoration:none;
  font-weight:bold;
}
ul.menu li {
  position:relative;
  float:left;

}
ul.menu ul {
  position:absolute;
  top:32px;
  left:0;
  background:#016A77;
  display:none;
  opacity:0;
  list-style:none
}
ul.menu ul li {
  position:relative;
  border-top:none;
  width: 100%;
  min-width:180px;
  margin:0;
  border-bottom: 1px solid #056D9C;
}
ul.menu ul li a {
  display:block;
  padding:3px 7px 5px;
  background-color: #006795;
}
ul.menu ul li a:hover {
  background-color:#025A82;
  color: #ffffff;
}
ul.menu ul ul {
  left:148px;
  top:-1px
}
ul.menu .menulink {
  padding:5px 10px 7px;
  height: 30px;
  line-height: 30px;
}

ul.menu .menulink:hover, ul.menu .menuhover {
  background-color:#025A82;
  color: #ffffff;
}
ul.menu .sub {
  /*height: 13px;*/
}

ul.menu .arrow{
  	top: 16px;
	padding-left: 10px;
	position: absolute;
	right: 5px;
}

ul.menu .sub2 {

}
ul.menu .topline {
}